In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Katsuura,JP,2022-01-06 00:02:49,35.1333,140.3000,39.18,58,100,9.08
1,1,Mandalgovi,MN,2022-01-06 00:02:50,45.7625,106.2708,10.98,47,0,7.56
2,2,Pevek,RU,2022-01-06 00:02:50,69.7008,170.3133,-3.60,99,73,2.28
3,3,Hermanus,ZA,2022-01-06 00:02:50,-34.4187,19.2345,64.80,77,66,13.22
4,4,Haines Junction,CA,2022-01-06 00:02:51,60.7522,-137.5108,-33.29,100,83,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent "Wind Speed"
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Quelimane,MZ,2022-01-06 00:02:51,-17.8786,36.8883,75.97,94,100,3.76
11,11,Namatanai,PG,2022-01-06 00:02:52,-3.6667,152.4333,84.49,70,96,6.53
16,16,Atuona,PF,2022-01-06 00:02:54,-9.8000,-139.0333,78.69,71,78,15.12
20,20,Hilo,US,2022-01-06 00:02:55,19.7297,-155.0900,80.80,82,0,4.00
25,25,Bambous Virieux,MU,2022-01-06 00:02:57,-20.3428,57.7575,75.22,77,87,5.84
27,27,Marovoay,MG,2022-01-06 00:02:58,-16.1000,46.6333,75.34,93,100,4.16
31,31,Luwuk,ID,2022-01-06 00:02:59,-0.9516,122.7875,83.62,67,43,0.85
32,32,Kapaa,US,2022-01-06 00:02:59,22.0752,-159.3190,79.12,73,7,4.00
36,36,Mahebourg,MU,2022-01-06 00:03:00,-20.4081,57.7000,75.25,78,85,5.75
43,43,Rikitea,PF,2022-01-06 00:03:02,-23.1203,-134.9692,77.43,68,64,7.43

In [11]:
preferred_cities_df.count()

City_ID       142
City          142
Country       142
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7         Quelimane      MZ     75.97 -17.8786   36.8883
11        Namatanai      PG     84.49  -3.6667  152.4333
16           Atuona      PF     78.69  -9.8000 -139.0333
20             Hilo      US     80.80  19.7297 -155.0900
25  Bambous Virieux      MU     75.22 -20.3428   57.7575
27         Marovoay      MG     75.34 -16.1000   46.6333
31            Luwuk      ID     83.62  -0.9516  122.7875
32            Kapaa      US     79.12  22.0752 -159.3190
36        Mahebourg      MU     75.25 -20.4081   57.7000
43          Rikitea      PF     77.43 -23.1203 -134.9692

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Quelimane,MZ,75.97,-17.8786,36.8883,Hotel Flamingo
11,Namatanai,PG,84.49,-3.6667,152.4333,Seagulls Inn Namatani
16,Atuona,PF,78.69,-9.8000,-139.0333,Villa Enata
20,Hilo,US,80.80,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Bambous Virieux,MU,75.22,-20.3428,57.7575,Casa Tia Villa
27,Marovoay,MG,75.34,-16.1000,46.6333,Hôtel les Oliviers Marovoay
31,Luwuk,ID,83.62,-0.9516,122.7875,Hotel Santika Luwuk
32,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
36,Mahebourg,MU,75.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
43,Rikitea,PF,77.43,-23.1203,-134.9692,People ThankYou

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
# locations = list(locations.itertuples(index=False, name=None))
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))