## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vila,PT,42.0304,-8.1588,45.73,95,99,2.71,overcast clouds
1,1,Kangaba,ML,11.9333,-8.4167,67.46,18,7,6.40,clear sky
2,2,Mar Del Plata,AR,-38.0023,-57.5575,73.09,1,57,8.01,broken clouds
3,3,Ahipara,NZ,-35.1667,173.1667,72.95,64,95,6.17,overcast clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,44.26,70,100,0.00,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mar Del Plata,AR,-38.0023,-57.5575,73.09,1,57,8.01,broken clouds
3,3,Ahipara,NZ,-35.1667,173.1667,72.95,64,95,6.17,overcast clouds
6,6,Touros,BR,-5.1989,-35.4608,77.90,77,99,10.51,overcast clouds
9,9,Butaritari,KI,3.0707,172.7902,81.73,77,75,17.83,broken clouds
12,12,Bluff,NZ,-46.6000,168.3333,70.81,85,85,11.39,overcast clouds
13,13,Port Alfred,ZA,-33.5906,26.8910,71.35,87,99,20.74,overcast clouds
15,15,Hilo,US,19.7297,-155.0900,78.53,80,75,6.91,broken clouds
17,17,Hobyo,SO,5.3505,48.5268,77.07,67,12,19.35,few clouds
18,18,Mataura,NZ,-46.1927,168.8643,70.48,47,48,3.42,scattered clouds
20,20,Busselton,AU,-33.6500,115.3333,70.05,35,100,7.14,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                233
City                   233
Country                233
Lat                    233
Lng                    233
Max Temp               233
Humidity               233
Cloudiness             233
Wind Speed             233
Current Description    233
dtype: int64

In [6]:
len(preferred_cities_df)

233

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mar Del Plata,AR,-38.0023,-57.5575,73.09,1,57,8.01,broken clouds
3,3,Ahipara,NZ,-35.1667,173.1667,72.95,64,95,6.17,overcast clouds
6,6,Touros,BR,-5.1989,-35.4608,77.90,77,99,10.51,overcast clouds
9,9,Butaritari,KI,3.0707,172.7902,81.73,77,75,17.83,broken clouds
12,12,Bluff,NZ,-46.6000,168.3333,70.81,85,85,11.39,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
649,649,Road Town,VG,18.4167,-64.6167,75.29,67,45,21.72,scattered clouds
653,653,Celestun,MX,20.8667,-90.4000,75.58,79,24,11.86,few clouds
659,659,Dois Riachos,BR,-9.3925,-37.1006,75.04,76,98,5.86,overcast clouds
660,660,Lafiagi,NG,8.8667,5.4167,74.80,27,24,3.53,few clouds
663,663,Sao Gabriel Da Cachoeira,BR,-0.1303,-67.0892,71.78,98,100,1.07,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,73.09,broken clouds,-38.0023,-57.5575,
3,Ahipara,NZ,72.95,overcast clouds,-35.1667,173.1667,
6,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,
9,Butaritari,KI,81.73,broken clouds,3.0707,172.7902,
12,Bluff,NZ,70.81,overcast clouds,-46.6000,168.3333,
13,Port Alfred,ZA,71.35,overcast clouds,-33.5906,26.8910,
15,Hilo,US,78.53,broken clouds,19.7297,-155.0900,
17,Hobyo,SO,77.07,few clouds,5.3505,48.5268,
18,Mataura,NZ,70.48,scattered clouds,-46.1927,168.8643,
20,Busselton,AU,70.05,overcast clouds,-33.6500,115.3333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,73.09,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
3,Ahipara,NZ,72.95,overcast clouds,-35.1667,173.1667,Ahipara Holiday Park
6,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
9,Butaritari,KI,81.73,broken clouds,3.0707,172.7902,Isles Sunset Lodge
12,Bluff,NZ,70.81,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,73.09,broken clouds,-38.0023,-57.5575,Gran Hotel Mar del Plata
3,Ahipara,NZ,72.95,overcast clouds,-35.1667,173.1667,Ahipara Holiday Park
6,Touros,BR,77.90,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
9,Butaritari,KI,81.73,broken clouds,3.0707,172.7902,Isles Sunset Lodge
12,Bluff,NZ,70.81,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...
649,Road Town,VG,75.29,scattered clouds,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
653,Celestun,MX,75.58,few clouds,20.8667,-90.4000,Posada Lilia
659,Dois Riachos,BR,75.04,overcast clouds,-9.3925,-37.1006,Pasion
660,Lafiagi,NG,74.80,few clouds,8.8667,5.4167,Bus group international
663,Sao Gabriel Da Cachoeira,BR,71.78,overcast clouds,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))